build
dist
webpack-dist
jspm_packages
node_modules
typings
typings.json

package
*.tgz

npm-debug.log

*.iml
.idea/
.idea_modules/

app/**/*.js
app/**/*.js.map

test/**/*.js
test/**/*.js.map

!karma*.js
!test/karma*.js

/compiled
*.metadata.json

.DS_Store
.vscode