@import '~materialize-css/sass/components/_color.scss';
$roboto-font-path: "~materialize-css/dist/fonts/roboto/";

$primary-color: color("green", "lighten-2");
$secondary-color: color("indigo", "lighten-1") !default;

@import "~materialize-css/sass/materialize.scss";


